@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 47, 65, 86; /* Navy */
  --background-rgb: 245, 239, 235; /* Beige */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

html {
  scroll-behavior: smooth;
}

.bounce-animation {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.fade-in-animation {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

